
.my-custom-popup {
  background-color: brown;
  border-radius: 10px;
  font-size: 16px;
}
.my-small-tittle {
  color:red !important;
}
.my-small-tittlepayment{
    color: #FB8C00!important;
}
.text-myBlue{
  color: black!important;
} 
.bg-myOrange{
  background-color: #FF6600;
}
.text-myOrange{
  color: #FF6600;
}
html, body {
  overflow-x: hidden;
  width: 100vw;
}